@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	margin: 0;
  	padding: 0;
	font-family: 'Raleway', sans-serif;	
}

.top {
	left: 0;
   	top: 0;
	background-image: url("../billeder/dashboard.jpg");
	height: 260px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.flexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h4 {
	color: red;
}

button {
	background: #9cd9b8;
	background-color: #9cd9b8;
	border-radius: 7px;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding: 13px 80px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-decoration: none;
	border: none;
	width: 250px;
	text-align: center;
	display: block;
  	margin: auto;
}

.container1 {
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	background: #ffffff;
	border-radius: 7px;
	padding: 13px 0px;
	width: 300px;
	height: 120px;
	display: inline-block;
	font-size: 10px;
	text-align: center;
}
.container2 {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background: #ffffff;
	border-radius: 7px;
	padding: 13px 0px;
	width: 300px;
	height: 120px;
	display: inline-block;
	font-size: 10px;
	text-align: center;	
}

p {
	font-size: 10px;
	color: #000000;
	text-align: left;
	margin-left: 60px;
}

#info {
	font-size: 12px;
	color: #000000;
	text-align: left;
	margin-left: 40px;
	margin-right: 40px;
}

h2 {
	color: #FFFFFF;
}

h5 {
	line-height: 2;
	margin-top: 220px;
	margin-left: 40%;
	text-align: left;
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-decoration: none;
}

/*Code inspired by w3schools - mediaquery_breakpoints*/

/*smallest devices*/
@media screen and (min-width: 200px)
{
   	body{
	  background-image: linear-gradient(black, #3385e8); }
	.container1 {
		margin-top: 90px;		
		width: 250px;
	} 
	.container2 {		
		width: 250px;
	}
}

/*small devices - this is our preferable size*/
@media screen and (min-width: 400px)
{
   	body{
	  background-image: linear-gradient(#002f67, #3385E8); }
	.container1 {	
		margin-top: 120px;
		width: 300px;
	} 
	.container2 {		
		width: 300px;
	}
	h5 {
		margin-left: 30%;	
		margin-top: 260px;	
	}
	button {
		width: 270px;
	}
}

/*medium devices*/
@media screen and (min-width: 600px)
{
	body{
	  background-image: linear-gradient(red, #3385E8); }
	.top {
		height: 300px;
	}
	.container1 {	
		margin-top: 160px;
		width: 400px;
		height: 150px;
	} 
	.container2 {		
		width: 400px;
		height: 150px;
	}
	h5 {
		margin-left: 40%;	
		margin-top: 300px;	
	}
	button {
		width: 300px;
	}
}

/*Large devices - ipad pro*/

@media screen and (min-width: 800px)
{
	body{
	  background-image: linear-gradient(yellow, #3385E8);	}
	.top {
		height: 320px;
	}
	.container1 {	
		margin-top: 250px;
		width: 500px;
	} 
	.container2 {		
		width: 500px;
	}
	h5 {
		margin-left: 40%;	
		margin-top: 400px;	
	}
	button {
		width: 300px;
	}
}

/*X-Large devices - fullscreen*/

@media screen and (min-width: 1200px)
{
	body{
	  background-image: linear-gradient(green, #3385E8);	}
	.container1 {	
		margin-top: 210px;
		width: 500px;
	} 
	.container2 {		
		width: 500px;
	}
	button {
		width: 400px;
	}
}
