@charset "utf-8";
/* CSS Document */

html {
		height: 100%;
		}

body {
  		font-family: 'raleway';
	    margin: 0;
  		padding: 0;
}

.wrapper {
	   
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    margin-left: 40px;
	    margin-right: 40px;
	    margin-bottom: 30px;
	    text-align: center;
}

.undertekst{
	
	    color: #FAF6F5;
	    text-align: center;
	    line-height: 0.8;
	    font-size: 25px;
	    margin-top: 0%;
	
}

.logotekst{
	
	    color: #FAF6F5;
	    font-weight: bold;
	    text-align: center;
	    line-height: 0.8;
	    font-size: 25px;
	    margin-top: 30%;
	    text-decoration: underline;
}

.logoimage{
	
	    justify-content: center;
	    margin-top: 40%;
	    margin-left: 0%;
	
	
}

/*Code inspired by w3schools - mediaquery_breakpoints*/

/*small devices*/
@media screen and (min-width: 600px){
   body{
		 background-color: #67CFAC;
	     width: 50%;
	   	 margin-left: 20%;
		
		
	}
	    
}

/*medium devices*/
	
@media screen and (min-width: 768px){
	body{
		
		background-color: #ff0000;
		width: 50%;
		margin-left: 20%;
		
	}	
	
}

/*Large devices*/

@media screen and (min-width: 992px){
.body{
		 background-color: #505050;
	     width: 50%;
	     margin-left: 20%;
		 
		
	}
	
}