@charset "utf-8";
/* CSS Document */

html {
height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EBEBEB;
}	

.container{
	max-width: 500px;
}

nav {
	left: 0;
	top: 0;
	width: 100%;
	height: 12%;
	text-align: center;		
}

.menu {
/*display: flex;
flex-direction: column;*/
	justify-content: center;
	padding-top: 3.5vh;
	margin-bottom: 2vh;
	height: 8vh;
	width: 100vw;
	background-color: #002f67;
}

.menu h2 {
	color: #9CD9B8;
	font-size: 20px;
	font-weight: 400;
	line-height: 0.5;
	margin-top: auto;
	margin-bottom: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu h3 {
	color: #EBEBEB;
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1;
	margin-top: 20px;;
	margin-bottom: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu img{
	align-content: center;
	margin-right: 5px;	
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%; 
}

body section .top {
	background-color: #EBEBEB;
	height: 5%;
}

.middle {
	background-color: #EBEBEB;
	height: 30vh;
	width: 100vw;
}

.accordion {
	background-color: #EBEBEB;
	color: #002F67;
	cursor: pointer;
	padding: 1vh 0 1vh 5vw;
	width: 100vw;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
}

.active, .accordion:hover {
	background-color: transparent;
}

.panel {
	padding-right: 2.5vw;
	display: none;
	background-color: #EBEBEB;
	overflow: hidden;
}

.panel ul {
	padding-left: 5vw;
	list-style: none;
}

.panel p {
	margin: 2.2vh 0;
	color: #000000;
}

.panel ul a {
	text-decoration: none;
}

hr1{
	border: 8px #002F67;
	width: 5px;
}


footer {
	left: 0;
	bottom: 0px;
	position: inherit;
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: black;
}

/* Icons section - basic style */
.box-icon {
	height: 90px;
	float: right;
	text-align: center;
	margin-top: 47vh;
	position: absolute;
	left: 45%;
	transform: translate(-50%, -50%);
}

.icons{
	align-content: center;
}


.icons li {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 5px;
}


/*Code inspired by w3schools - mediaquery_breakpoints*/

/*smallest devices*/
@media screen and (min-width: 200px)
{
   	body{
	  background-color: #ebebeb; }
	
	.middle {
	background-color: #EBEBEB;
	height: 30vh;
	width: 100vw;
}
	footer {
	left: 0;
	bottom: 0px;
	position: inherit;
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: black;
}

}

/*small devices - this is our preferable size*/
@media screen and (min-width: 400px)
{
   	body{
	  background-image: linear-gradient(#002f67, #3385E8); }
	
	.middle {
	background-color: #EBEBEB;
	height: 87vh;
	width: 100vw;
	
}
	footer {
	left: 0;
	bottom: 0px;
	position: inherit;
	width: 1000%;
	height: 10%;
	text-align: center;
	background-color: black;
}
	.box-icon {
	height: 90px;
	float: right;
	text-align: center;
	margin-top: -9vh;
	position: absolute;
	left: 45%;
	transform: translate(-50%, -50%);
}
	
}

/*medium devices*/
@media screen and (min-width: 600px)
{
	body{
	  background-image: linear-gradient(#002f67, #3385E8); }
	
	.middle {
	background-color: #EBEBEB;
	height: 90vh;
	width: 100vw;
	
}
	footer {
	left: 0;
	bottom: 0px;
	position: inherit;
	width: 100%;
	height: 60%;
	text-align: center;
	background-color: black;
}
	.box-icon {
	height: 1000px;
	float: right;
	text-align: center;
	margin-top: 47vh;
	position: absolute;
	left: 45%;
	transform: translate(-50%, -50%);
}
	
}

/*Large devices - ipad pro*/

@media screen and (min-width: 800px)
{
	body{
	  background-image: linear-gradient(#002f67, #3385E8);	}
	
	.middle {
	background-color: #EBEBEB;
	height: 120vh;
	width: 100vw;
	
}
	footer {
	left: 0;
	bottom: 0px;
	position: inherit;
	width: 100%;
	height: 90%;
	text-align: center;
	background-color: black;
}
	.box-icon {
	height: 1500px;
	float: right;
	text-align: center;
	margin-top: 55vh;
	position: absolute;
	left: 45%;
	transform: translate(-50%, -50%);
}
	
}

/*X-Large devices - fullscreen*/

@media screen and (min-width: 2000px)
{
	body{
	  background-image: linear-gradient(#002f67, #3385E8);	}
	
	.middle {
	background-color: #EBEBEB;
	height: 150vh;
	width: 100vw;
	
}
	footer {
	left: 0;
	bottom: 0px;
	position: inherit;
	width: 100%;
	height: 120%;
	text-align: center;
	background-color: black;
}
	
}
