@charset "UTF-8";
/* CSS Document */
#myProgress {
    margin: 50px;
  width: 50%;
  background-color: #ebebeb;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #9cd9b8;
  text-align: center;
  line-height: 30px;
    color: whrite;
}

