@charset "UTF-8";
/* CSS Document */
#myProgress {
    margin: 50px;
  width: 50%;
  background-color: #ebebeb;
<<<<<<< HEAD
    border-radius: 5px;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #9cd9b8;
  text-align: center;
  line-height: 30px;
  color: whrite;
    border-radius: 5px;
    
=======
}

#myBar {
  width: 5%;
  height: 30px;
  background-color: #9cd9b8;
>>>>>>> 907a264abf5cce5bc4f42fb79a1358f2d7ffcd32
}

