@charset "utf-8";
/* CSS Document */

html {
		height: 100%;
		}

body {
  		background-image: url("billeder/background.jpg");
	    margin: 0;
  		padding: 0;
}

.logotekst{
	
	    color: #FAF6F5;
	    font-family: 'raleway';
	    font-style: bold;	
}