@charset "utf-8";
/* CSS Document */

html {
		height: 100%;
		}

body {
  		background-image: url("billeder/background.jpg");
	    margin: 0;
  		padding: 0;
}

.wrapper {
	   
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    margin-left: 40px;
	    margin-right: 40px;
	    margin-bottom: 30px;
	    text-align: left;
}

.logotekst{
	
	    color: #FAF6F5;
	    font-family: 'raleway';
	    font-weight: bold;
	    text-align: center;
	    line-height: 0.8;
	    font-size: 25px;
	    margin-top: 50%;
}

.logoimage{
	
	    margin-top: 130px;
	
	
}

/*Example found on w3schools - mediaquery_breakpoints*/

/*small devices*/
@media screen and (max-width: 600px){
	
}

/*medium devices*/
	
@media screen and (max-width: 768px){
	
}

/*Large devices*/

@media screen and (max-width: 992px){
	
}